:root{
    --color-yellow: #F6B938;
    --color-red: #E84644;
    --color-lightblue: #A8D1D2;
    --color-black: #08090A;
    --color-blue: #246EB9;
    --size-h1: 3rem;
    --color-pink: #fEEEEC;
    --font: "Saira", sans-serif;
    --fondo-blanco: #ffffff;
    --fondo-lgris: #fafafa;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: var(--font);
    min-height: 100vh;
    
}

#header{
    height: 7vh;
    background: var(--color-black);
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-around;
    top: 0;
    z-index: 9999;
    margin: 0px;
}

header div h2 {
    color: white;
}
header div h2{
    margin: 0px;
}

header div h2 span {
    color: var(--color-red);
    font-family: var(--font);
}
#header_opciones {
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


#header_opciones a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-family: var(--font);

}

#header_opciones a:first-child {
    text-decoration: underline;
    color: var(--color-red);

}

#header_opciones a:hover{
    color: var(--color-red);
    text-decoration: underline;

}



#sec-principal{
    margin-top: 0%;
    background-image: url(./Imagenfondomain.PNG) ;
    background-position: center ;
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    height: 93vh;
    border-bottom: 3px solid var(--color-black);
    scroll-margin-top: 7vh;
}



#div_titulo{
    width: 35w;
    height: 50vh;
    display: flex;
    flex-direction: column;

}
.cajas-main {
    height: 20vh;
    width: 18vw;
    position: relative;
    bottom: 7vh;
    text-align: center;

}

.titulo_principal {
    font-size: var(--size-h1);
    color: rgb(45, 44, 49);
   
    margin: 0%;
}
.titulo_principal span {
    color: var(--color-red);

}

#sec-second {
    width: 100%;
    min-height: 93vh;
    margin-top: 0px;
    display: flex;
    background-image: url(./FondoSinColores/fondo3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid var(--color-black);
    scroll-margin-top: 7vh;
    
}

.second-box{
    display: flex;
    flex-direction: column;
    height: 93vh;
    align-items: center;
    width: 50%;
    justify-content: center;
}

#second-box-izq  {
    margin-left: 18rem;
    position: relative;
    overflow: visible;
}
#second-box-der {
    margin-right: 14rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
}
#second-box-izq h1{
    height: 8vh;
    width: 20vw;
    margin: 0px;
    margin-bottom: 4rem;
    font-size: var(--size-h1);
}

#orden-second {
    height: 2vh;
    width: 20vw;
    margin-bottom: 1rem;
}


#second-box-izq p {
    margin: 0px;
    color: gray;
    letter-spacing: 0.5rem;
}


#foto-about {

    height: 50vh;
    width: 20vw;
    border: 2px solid var(--color-black);
    position: relative;
    isolation: isolate;
    background-image: url(./FotosPersonales/AboutMeFoto.png);
    background-size: 100% ;
    background-position: 50% 20%;
    background-repeat: no-repeat;
   

}

#foto-about::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #e03030;
    z-index: -1;
}




#about-me{
    font-size: 2.4vh;
    margin: 0 9vw;
    width: 30vw;
}
#cajas-experiencia{
    display: flex;
    justify-content: space-between;

    

}
#about_me-experiencia{
    height: 9vh;
    width: 30vw ;
    border-top: 2px solid gray;
    padding: 1.5rem 0;
    
}


#about_me-experiencia div {
    height: 100%;
    width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.about_experiencia-each p{
    font-size: 1.4rem;
    font-weight: bold;
    align-self: top;
    padding: 0px;
    margin: 0px;
}

.about_experiencia-each h1{
    margin: 0;
    color: #E84644;
}

#CV {
    margin-top: 1.5rem;
    min-height: 20%;
    min-width: 40%;
   
}
button {
    background: gray    ;
    color: #fff;
    border: none;
    padding: 1rem 1rem;
    font-family: var(--font);
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 2px;
    align-self: flex-start;
    margin-top: 8px;
    border-radius: 1rem;
}
button:hover{
    background-color: black;
}
button span {
  color: var(--color-red);   
}
#sec-third {
    width: 100%;
    min-height: 93vh;
    margin-top: 0px;
    background-image: url(./FondoSinColores/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid var(--color-black);
    scroll-margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}





#title-third {
    
    width: 70%;
}

#title-third h1{
    font-size: var(--size-h1);
    font-size: 4rem;
    margin: 0px;
}

#orden-third {
    width: 70%;
    margin-bottom: 1rem;
    margin: 0px;
    color: gray;
    letter-spacing: 0.5rem;
    
}


#skills {
    height: 40vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja-skills {
    height: 35vh;
    width: 18vw;
    border: 3px solid whitesmoke;
    background-color: var(--fondo-lgris);
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    border-left: 6px solid var(--color-red);
}

.skill {
    margin: 23px 3rem;
    
}


.skill-title {
    height: 5vh;
    text-align: left;
    margin-left: 3rem;
}
.skill-title h2 span, #title-third h1 span {
    color: var(--color-red);
}
.skill-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    
}

.bar {
    border-radius: 10px;
    height: 1rem;
    background: #e0e0e0;   /* fondo gris */
}

.bar-fill {
    border-radius: 10px;
    height: 1rem;
    background: #111;      /* barra negra */
}

.skill-header span {
    font-size: 0.9rem;
    font-family: "Saira", sans-serif;
}

#sec-seven {
    width: 100%;
    min-height: 86vh;
    margin-top: 0px;
    display: flex;
    background-image: url(./FondoSinColores/fondo1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid var(--color-black);
    scroll-margin-top: 7vh;
}

.boxes-seven {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.boxes-seven h1{
    font-size: var(--size-h1);
    width: 70%;
    margin-top: 0px;
    
}
.boxes-seven h1 span {
    color: var(--color-red);
}
#orden-contact{
    min-width: 70%;
    margin-bottom: 1rem;
    margin: 0px;
    color: gray;
    letter-spacing: 0.5rem;

}

#redes-contact {
    min-height:60%;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.box-redes{
    min-height: 10vh;
    width: 80%;
    margin-bottom: 2.5vh;
    background-color: var();
    display: flex;

}

.box-redes-icon{
    min-height: 100%;
    width: 22%; 

    background-color: var(--color-pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-redes-icon h2 {
    color: var(--color-red);
    font-family: var(--font);
    font-size: 2rem;
}

.box-redes-text{
    margin-left: 1.5rem;
    min-height: 100%;
    width: 68%;

    background-color: #fdfdfd;

}

.box-redes-text p {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: var(--font);
    color: gray;
}

.box-redes-text h2 {
    font-family: var();
    margin: 0;

}

#form-contact {
    min-height: 60%;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin-top: 20%;
    margin-right: 50%;
}

input {

    min-height: 2rem;
    width: 25vw;
    border-radius: 0.5rem;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 1.5rem;
    padding: 10px 0;
    outline: 0;
    background: transparent;
    background-color: #333;
    font-family: var(--font);
    color: white;
}

#input_mensaje {
    height: 8rem;



}
input::placeholder{
    font-size: 1.5rem;
    color: white;
    font-family: var(--font);
    opacity: 1;
    text-align: left;
}

input:focus {
  border-bottom-color: #ef0909;
  border: 1px solid red;
}

form button {
    background: #111;
    color: #fff;
    border: none;
    padding: 12px 28px;
    font-family: var(--font);
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 1px;
    align-self: flex-start;
    margin-top: 8px;
}

form button span {
  color: var(--color-red);   
}

#boxes-seven-izq {
   margin-left: 10%;
}
form button:hover {

     background-color: var(--color-blue);

}


footer { 
    height: 7vh;
    background: var(--color-black);
    display: flex;
    align-items: center;
   justify-content: space-around;
}

footer div {
    color: white;
}
footer div h2{
    margin: 0px;
}

footer div h2 span {
    color: var(--color-red);
    font-family: var(--font);
}

footer div p {
    font-family: var(--font);
    color: gray;
    letter-spacing: 0.3rem;
    font-size: 1.1rem;
}